<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maxwell Huang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Maxwell Huang">
    <title>Maxwell Huang</title>
</head>

<body style="font-family: Arial">

    <main class="main">
        <header>
            <h1 id="webname">Maxwell Huang</h1>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="cv.html">CV</a></li>
                    <li><a href="contact.html">Contact me</a></li>
                    <li><a href="fun.html">For fun</a></li>
                </ul>
            </nav>
        </header>
        <h2 style="color:grey; background:white">Things I love to do for fun</h2>
        
        <!-- List of Favorite Activities -->
        <ul>
            <li>Hiking</li>
            <li>Cooking</li>
            <li>Playing tennis and basketball</li>
            <li>Camping</li>
        </ul>
    </main>

    <footer>
        <p>&copy; Created and Designed by Maxwell Huang :D</p>
    </footer>

</body>
</html>