<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maxwell Huang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Maxwell Huang">
    <title>Maxwell Huang</title>
</head>
<body style="font-family: Arial">

    <header>
        <h1>Maxwell Huang</h1>
    </header>

    <main class="main">
        <h2 style="color:blue; background:lightblue">Contact Me</h2>
        
        <!-- Contact Form -->
        <form action="#" method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div>
                <label for="comment">Comment:</label>
                <textarea id="comment" name="comment" required></textarea>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
        
        <!-- Contact Information Table -->
        <h3>My Contact Information</h3>
        <table border="1">
            <tr>
                <th>Contact Method</th>
                <th>Details</th>
            </tr>
            <tr>
                <td>Email</td>
                <td>maxwell2@andrew.cmu.edu</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>(925) 915-6202</td>
            </tr>

        </table>
    </main>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="views/cv.html">CV</a></li>
            <li><a href="views/contact.html">Contact me</a></li>
            <li><a href="views/fun.html">For fun</a></li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2025 Maxwell Huang. All rights reserved.</p>
    </footer>

</body>
</html>