<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maxwell Huang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Maxwell Huang">
    <title>Maxwell Huang</title>
</head>
<body style="font-family: Arial">

    <main class="main">
        <h2 style="color:blue; background:lightblue">Things I love to do for fun</h2>
        
        <!-- List of Favorite Activities -->
        <ul>
            <li>Hiking</li>
            <li>Cooking</li>
            <li>Playing tennis and basketball</li>
            <li>Camping</li>
        </ul>
    </main>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="views/cv.html">CV</a></li>
            <li><a href="views/contact.html">Contact me</a></li>
            <li><a href="views/fun.html">For fun</a></li>
        </ul>
    </nav>

    <footer>
        <p>&copy; 2025 Maxwell Huang. All rights reserved.</p>
    </footer>

</body>
</html>