<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/script.js" defer></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Maxwell Huang">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Maxwell Huang">
    <title>Maxwell Huang</title>
</head>

<body onload="addYear(); fetchLatestCMUVideo()">

    <header>
        <h1 id="webname">Maxwell Huang</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="cv.html">CV</a></li>
                <li><a href="contact.html">Contact me</a></li>
                <li><a href="fun.html">For fun</a></li>
            </ul>
        </nav>
    </header>

    <main class="mainLayout">
        <div class="item1">
            <h2 style="color:grey; background:white">Things I love to do for fun</h2>
            
            <ul>
                <li>Hiking</li>
                <li>Cooking</li>
                <li>Playing tennis and basketball</li>
                <li>Camping</li>
            </ul>
            
            
        </div>
        
        <div class="item2">
            <img src="../static/maxwell-huang.jpeg" alt="My Profile Picture" class="funIMG">
        </div>
        
        <div class="item3">
            <h3>Latest CMU YouTube Video</h3>
            <div id="latestVideoContainer">
                <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed?listType=user_uploads&list=cmu" 
                    title="Latest CMU YouTube Video" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                    allowfullscreen>
                </iframe>
            </div>
        </div>
        
        <div class="item4">
            <div class="container">
                <h2>Need Some Advice?</h2>
                <p id="adviceText">Click the button to get a random piece of advice!</p>
                <button onclick="getAdvice()">Get Advice</button>
            </div>
        </div>
    </main>

    <footer>
        <p><span id="copyYear"></span> Created and Designed by Maxwell Huang :D</p>
    </footer>

</body>
</html>